---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION, SITE_OG_IMG } from "../config";
import { SEO } from "astro-seo";
import "../styles/global.css";
import "@fontsource-variable/sora";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" class="bg-page text-body antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />
    <link
      rel="mask-icon"
      href="/assets/icons/safari-pinned-tab.svg"
      color="#000000"
    />

    <SEO
      charset="UTF-8"
      title={title}
      titleTemplate="%s – Kyle Gordy"
      titleDefault="Kyle Gordy – `${SITE_DESCRIPTION}`"
      description={SITE_DESCRIPTION}
      openGraph={{
        basic: {
          title: "Kyle Gordy – " + `${SITE_DESCRIPTION}`,
          type: "website",
          image: `${SITE_OG_IMG}`,
        },
        optional: {
          description: `${SITE_DESCRIPTION}`,
        },
      }}
    />
  </head>
  <body class="grid min-h-screen grid-rows-[max-content_1fr_max-content]">
    <Header title={SITE_TITLE} />
    <slot />
    <Footer />
  </body>
</html>
